%nav
  %div.flex.flex-column.justify-between.h-20.bg-gray-300.items-center
    %h3.text-2xl.font-bold
      = link_to 'MS FLight Finder', root_path
    %ul.flex
      %li.mx-2
        Downloads
      %li.mx-2
        Forum

