%nav.bg-gray-300
  %div.flex.flex-column.justify-between.h-20.items-center.container.m-auto
    %h3.text-2xl.font-bold
      = link_to 'MS FLight Finder', root_path
    %ul.flex
      %li.mx-2
        Downloads
      %li.mx-2
        Forum

